src/applications/m_cfgen/test.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" name='Configuration' ns='test' enterpriseNs='MvdS'>

  <xs:internalType name='xs:string'>
    <xs:cpp type='std::string' flag='valueType' include="string"/>
  </xs:internalType>
  
  <xs:complexType name='Note'>
    <xs:sequence>
      <xs:element name="to" type="xs:string"/>
      <xs:element name="from" type="xs:string"/>
      <xs:element name="heading" type="xs:string" minOccurs="0"/>
      <xs:element name="body" type="xs:string" maxOccurs="2"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="note" type='Note'/>

</xs:schema>

